
<ion-content>
  <ion-card class="welcome-card">
    <ion-img src="http://pic.616pic.com/bg_w1180/00/06/21/ql9yWYSqqF.jpg"></ion-img>
    <ion-card-header>
      <ion-card-subtitle></ion-card-subtitle>
      <ion-card-title>
        <h1>
          Hi {{name}} !
        </h1>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p> You can create your report and review the 7 days amount here !</p>
    </ion-card-content>
  </ion-card>
</ion-content>


<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <ion-icon name="contact"></ion-icon>
      <ion-label>Create</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="create"></ion-icon>
      <ion-label>Edit</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="stats"></ion-icon>
      <ion-label>Review</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
